<div class="form-group row">
  <label for="title" class="col-sm-12 col-form-label">Title:</label>
  <div class="col-sm-6 col-form-label">
  <input type="text"
         class="form-control"
         name="title"
         value="<%= recipe.title %>">
  </div>
</div>

<div class="form-group row">
  <label for="description" class="col-sm-12 col-form-label">Description:</label>
  <div class="col-sm-6 col-form-label">
  <input type="text"
         class="form-control"
         name="description"
         value="<%= recipe.description %>">
  </div>
</div>

<div class="form-group row">
  <label for="website" class="col-sm-12 col-form-label">Website:</label>
  <div class="col-sm-6 col-form-label">
  <input type="text"
         class="form-control"
         name="website"
         value="<%= recipe.website %>">
  </div>
</div>

<div class="form-group row">
  <label for="ingredients" class="col-sm-12 col-form-label">Ingredients:</label>
  <div class="col-sm-6 col-form-label">
  <textarea
         placeholder="To create a new line, separate each ingredient with -- "
         class="form-control"
         name="ingredients"
         rows="5"
         value="<%= recipe.ingredients %>"></textarea>
  </div>
</div>

<div class="form-group row">
  <label for="directions" class="col-sm-12 col-form-label">Directions:</label>
  <div class="col-sm-6 col-form-label">
  <textarea type="text"
         placeholder="To create a new line, separate each new direction/step with -- "
         class="form-control"
         name="directions"
         rows="7"
         value="<%= recipe.directions %>"></textarea>
  </div>
</div>

<div class="form-group row">
  <label for="notes" class="col-sm-12 col-form-label">Notes:</label>
  <div class="col-sm-6 col-form-label">
  <input type="text"
         class="form-control"
         name="notes"
         value="<%= recipe.notes %>">
  </div>
</div>

<div class="form-group row">
  <label for="rating" class="col-sm-12 col-form-label">Rating:</label>
  <div class="col-sm-6 col-form-label">
  <input type="number"
         class="form-control"
         name="rating"
         value="<%= recipe.rating %>">
  </div>
</div>
