<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3> <span class="titles"> <%= recipe.title %> </span> </h3>
      <p> <span class="titles"> DESCRIPTION:</span> <%= recipe.description %></p>
      <p> <span class="titles"> WEDBSITE:</span> <%= recipe.website %></p>
      <p> <span class="titles"> INGREDIENTS:</span> <%= recipe.ingredients %></p>

      <p> <span class="titles"> INGREDIENTS:</span> </p>
        <ul id="ingredientList"> </ul>


      <p> <span class="titles"> DIRECTIONS:</span> <%= recipe.directions %></p>
      <p> <span class="titles"> NOTES:</span> <%= recipe.notes %></p>
      <p> <span class="titles"> RATING:</span> <%= recipe.rating %></p>

      <p> <b>Created:</b> <%= recipe.getCreatedAt() %></p>
      <p> <b>Last Updated:</b> <%= recipe.getUpdatedAt() %></p>
    </div>

    <a href="/recipes" class="btn btn-primary">Back</a>
    <a href="/recipes/<%= recipe._id %>/edit" class="btn btn-danger">Edit</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

<script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>
<script type="text/javascript" src="/javascripts/display.js" defer></script>


</html>
