<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>

<body class="container-fluid">
  <header>
    <% include ../partials/header %>
  </header>

  <main>
    <div>
      <h3> <span class="titles"> <%= recipe.title %> </span> </h3>
      <p class="showPage"> <span class="titles"> DESCRIPTION: </span> <%= recipe.description %></p>
      <p class="showPage"> <span class="titles"> WEBSITE: </span> <%= recipe.website %></p>
      <p class="showPage"> <span class="titles"> INGREDIENTS:</span> </p>
      <div class="row">
        <span class="col-xs-12 col-sm-6 col-md-6">

          <ul id="ingredientList">

            <% var ingredientString = recipe.ingredients %>

              <% function splitString(stringToSplit, separator) { %>
              <%   var arrayOfStrings = stringToSplit.split(separator); %>
              <%   return arrayOfStrings; %>
              <% } %>

              <% var comma = '--'; %>

              <% var newArray = splitString(ingredientString, comma); %>


              <% for(var i=0; i<newArray.length; i++) {%>
              <li class="showPage"> <%= newArray[i] %> </li>
              <% } %>

          </ul>
          </span>

        <div class="col-xs-12 col-sm-6 col-md-6">
          <img class="bottom-row img-rounded recipeImage" src="<%= recipe.image ? recipe.image : '' %>">
        </div>
      </div>

      <p class="showPage"> <span class="titles"> DIRECTIONS:</span> </p>

        <ul id="directionList">

            <% var directionString = recipe.directions %>

            <% function splitString(stringToSplit, separator) { %>
            <%   var arrayOfStrings = stringToSplit.split(separator); %>
            <%   return arrayOfStrings; %>
            <% } %>

            <% var comma = '--'; %>

            <% var newArray = splitString(directionString, comma); %>


              <% for(var i=0; i<newArray.length; i++) {%>
                <li class="showPage"> <%= newArray[i] %> </li>
              <% } %>

       </ul>

      <% var notes = <p class="showPage"> <span class="titles"> NOTES:</span></p> %>
      <%= typeof recipe.notes!='undefined' ? this.notes : '' %>  <p class="showPage"> <%= recipe.notes %></p>
      <p class="showPage"> <span class="titles"> RATING: </span> <%= recipe.rating %></p>

      <p> <b>Created:</b> <%= recipe.getCreatedAt() %></p>
      <p> <b>Last Updated:</b> <%= recipe.getUpdatedAt() %></p>
    </div>

    <a href="/recipes" class="btn btn-primary">Back</a>
    <a href="/recipes/<%= recipe._id %>/edit" class="btn btn-danger">Edit</a>
  </main>

  <footer>
    <% include ../partials/footer %>
  </footer>
</body>

<script type="text/javascript" src="/javascripts/jquery.min.js" defer></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js" defer></script>


</html>
